/*
================================================================================

  FONTS

================================================================================
*/

$default-fnt: Helvetica, Arial, sans-serif;

/*
================================================================================

  COLORS

================================================================================
*/

$clr-black: #000000;
$clr-white: #ffffff;
$clr-grey: #8d989f;

/*
================================================================================

  MEDIA QUERIES

================================================================================
*/

$mq-xlarge: 1200px;
$mq-large: 991px;
$mq-medium: 768px;
$mq-small: 575px;
